<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card grey lighten-4">
      <form {{action 'authenticate' on='submit'}}>
        <div class="card-content">
          <span class="card-title black-text">Login</span>

            {{input id='identification' placeholder='Enter Email' value=identification}}
            {{input id='password' placeholder='Enter Password' type='password' value=password}}

        </div>
        <div class="card-action">
          {{input type="submit" value="Next" class="btn waves-effect waves-light red lighten-2"}}
        </div>
      </form>
    </div>
  </div>
</div>
