
.opacity-7{
  opacity: 0.7;
}

.homepage-screenshot {
  width: 95%;
  padding: 10px;

  &_monthly {
    width: 400px;
  }

}

@import "bower_components/spinners/stylesheets/_spinners.scss";

@import "components/progress_bar";
@import "components/errors";
@import "components/spinner";

@import "layout";

.parallax-container {
  height: 300px;
}
