
.opacity-7{
  opacity: 0.7;
}

.homepage-screenshot {
  width: 95%;
  padding: 10px;
}

@import "components/progress_bar";
@import "components/errors";

@import "layout";

.parallax-container {
  height: 300px;
}
