<div class="container">

  <form {{action 'submit' on='submit'}}>
    {{input type="text" value=date placeholder="Date"}}
    {{input type="text" value=amount placeholder="Amount"}}

    <button class="waves-effect waves-light btn primary-background">Create</button>

  </form>

</div>
