<div class="container">

  {{#if model}}
    <div>
      <div class="right-align">
        <a href="/api/v1/mileages.csv" class="tooltipped btn-floating btn-small disabled right-align" target="_blank" data-tooltip="Download as CSV"><i class="material-icons">assignment</i></a>
      </div>
    </div>
    <ul class="collection">
      {{#each mile in model}}
        <li class="collection-item">
          {{ mile.amount }} miles on {{date-and-time mile.date }}
          <a class="secondary-content" {{action 'delete' mile}}>
            <i class="mdi-action-delete"></i>
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div>
      <h5 class="center-align">No Miles Recorded</h5>
    </div>
  {{/if}}

</div>
