<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">

      {{link-to 'CarMileager' 'index' class="brand-logo white-text" }}

      {{#if session.isAuthenticated}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="tooltipped" data-tooltip="Settings">{{#link-to 'user.settings'}}<i class="material-icons white-text">settings</i>{{/link-to}}</li>
        <li class="tooltipped" data-tooltip="Logout">{{#link-to 'auth.sign-out'}}<i class="material-icons white-text">power_settings_new</i>{{/link-to}}</li>
      </ul>
      {{else}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="tooltipped" data-tooltip="Sign me up">{{#link-to 'auth.sign-up'}}<i class="material-icons white-text">playlist_add</i>{{/link-to}}</li>
        <li class="tooltipped" data-tooltip="Login">{{#link-to 'auth.login'}}<i class="material-icons white-text">lock</i>{{/link-to}}</li>
      </ul>
      {{/if}}

    </div>
  </nav>
</div>
{{#if session.isAuthenticated}}
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">{{#link-to 'mileages.yearly' current-when="mileages.yearly" }}Yearly{{/link-to}}</li>
        <li class="tab col s3">{{#link-to 'mileages.monthly'}}Monthly{{/link-to}}</li>
        <li class="tab col s3">{{#link-to 'mileages.index'}}Records{{/link-to}}</li>
        <li class="tab col s3">{{#link-to 'mileages.create'}}Create <i class="tiny mdi-content-add-circle-outline"></i>{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>
{{/if}}

  {{ember-notify closeAfter=40000000}}
  {{outlet}}


<footer class="page-footer red lighten-2">
  <div class="container">
    <div class="row">

      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="white-text">Car Mileager is an free Open Source web application based on Ruby on Rails and Ember.js.</p>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container white-text">
      Made by <a href="http://www.allisterantosik.com"><strong class="white-text">Allister Antosik</strong></a> |
      Open Source on  <a href="https://github.com/allistera/"><strong class="white-text">GitHub</strong></a>
    </div>
  </div>
</footer>
