<div class="parallax-container">

  <div class="section no-pad-bot">

    <div class="container">

      <h1 class="header center red lighten-2 opacity-7">CarMileager</h1>

      <div class="row center">
        <div class="header col s12 text-center">
          <h5 class="sub-title">Take Control of Your Cars Mileage</h5>
        </div>
      </div>

      <div class="row center">
        {{#link-to 'auth.sign-up' class="btn-large waves-effect waves-light red lighten-2"}}Sign me up{{/link-to}}
      </div>

    </div>

  </div>

  <div class="parallax"><img src="http://www.strangenotions.com/wp-content/uploads/Road.jpg"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col s4">

      <h5>Visually Track Progress</h5>
      <p>
        Using a simple but effective line chart you can easily see where you currently are in relation to your used car mileage, compared with the estimated usage based settings you provide.
      </p>
    </div>
    <div class="col s4">

      <h5>Find Exact Remaining Usage</h5>
      <p>
        With Car Mileagers monthly view you can get the exact percentage of the mileage you have have remaining on a month-by-month basis. Car mileager calculates your monthly mileage allowance and works calculates the percentage used using data from your inputted mileage recordings.
      </p>
    </div>
    <div class="col s4">

      <h5>Customize It To You</h5>
      <p>
        From initial set up Car Mileager asks you to set your settings to fit your needs, from the term length of your cars contract to the starting mileage, you have total control over calculations.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center-align">
      <h5>We're Open Source...</h5>
      <p>
        Car Mileager is entirely an open source project with it's source code hosted on GitHub. Written in Ruby on Rails as well as utilizing other various other CSS, Javascript and Ruby libraries.
      </p>
    </div>
  </div>

</div>
